.app {
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  background-color: teal;
}

.button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 5%;
}
button {
  width: 30%;
  margin: 5px;
  cursor: pointer;
  background-color: beige;
}

.display-planet-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 60%;
  border: 1px solid black;
  font-size: 40px;
  margin-bottom: 30%;
  background-color: antiquewhite;
}

.navbar-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.active {
  text-decoration: underline;
  color: darkgreen;
}
